<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos Universitarios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        h1 {
            font-size: 2.5rem;
            font-weight: 700;
            color: #343a40;
            text-align: center;
            margin-bottom: 30px;
        }
        .list-container {
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }
        .event-item {
            border-bottom: 1px solid #ddd;
            padding: 15px;
            cursor: pointer;
            display: flex;
            border-radius: 8px;
            flex-direction: column;
            margin-bottom: 5px;
        }
        .event-item:hover {
            background-color: #f1f1f1;
        }
        .event-title {
            font-weight: bold;
            color: #007bff;
            font-size: 1.25rem;
        }
        .event-description {
            font-size: 1rem;
            color: #6c757d;
        }
        .event-details {
            font-size: 0.9rem;
            color: #6c757d;
        }
        .footer {
            text-align: center;
            margin-top: 40px;
            font-size: 0.9rem;
            color: #6c757d;
        }

        .add-event-btn {
            position: fixed;
            bottom: 5px;
            left: 5px;
        }
    </style>
</head>
<body>

    <%- include("partials/navbar", { role: role }) %>

    <div class="container mt-5 pt-2">
        <h1>
            <% if(isMyEvents){ %>
                Tus Eventos
            <% } else { %>  
                Eventos Universitarios
            <% } %>  
        </h1>
        <div class="list-container">
            <ul id="event-list" class="list-unstyled">

            </ul>
        </div>
        <%- include("partials/footer") %>
    </div>

    <% if(role == 1){ %>
        <a href="/events/form" class=" btn btn-primary add-event-btn">
            Organizar Evento
        </a>
    <% } %>  
    

    <%- include("partials/eventModal", { role: role, user:user }) %>
    

    <script>

        
        document.addEventListener('DOMContentLoaded', fetchEvents);

        const currentUserId = '<%= user %>';


        function fetchEvents() {
            const eventList = document.getElementById('event-list');
            eventList.innerHTML = '';
            const currentPath = window.location.pathname;

            const apiUrl = currentPath.includes('myevents') ? '/api/events/user' : '/api/events';
            console.log("Llamando a la API:", apiUrl, " por user ", currentUserId);
            
            fetch(apiUrl) 
                .then(response => response.json())
                .then(data => {
                    data.forEach(event => {
                        console.log("The event ", event)
                        const eventItem = `
                            <li class="event-item" 
                                data-id="${event.ID}" 
                                data-organizer="${event.OrganizerID}"
                                data-title="${event.Title}" 
                                data-description="${event.Description}" 
                                data-date="${new Date(event.DateTime).toLocaleString()}" 
                                data-location="${event.Location}">
                                <div class="event-title">${event.Title}</div>
                                <div class="event-description">${event.Description}</div>
                                <div class="event-details">
                                    <span><img src="/public/img/calendar-icon.svg" width="13" height="13" alt="Calendar"> ${new Date(event.DateTime).toLocaleString()}</span>
                                    <span><img src="/public/img/ubication-icon.svg" width="13" height="13" alt="Ubicacion"> ${event.Location}</span>
                                </div>
                            </li>
                        `;
                        eventList.innerHTML += eventItem;
                    });

                    // Agregar un evento de clic a cada elemento de lista
                    const items = eventList.querySelectorAll('.event-item');
                    items.forEach(item => {
                        item.addEventListener('click', showModal);
                    });
                })
                .catch(error => console.error('Error al cargar eventos:', error));
        }


        function showModal(event) {
            const item = event.currentTarget;
            console.log("The item ", item)
            const title = item.getAttribute('data-title');
            const description = item.getAttribute('data-description');
            const date = item.getAttribute('data-date');
            const location = item.getAttribute('data-location');
            const organizer = item.getAttribute('data-organizer');
            const eventId = item.getAttribute('data-id'); 
            
            document.getElementById('modalTitle').textContent = title;
            document.getElementById('modalDescription').textContent = description;
            document.getElementById('modalDate').textContent = date;
            document.getElementById('modalLocation').textContent = location;
            document.getElementById('modalOrganizer').textContent = organizer;

            const editButton = document.getElementById('editButton');
            const signUpButton = document.getElementById('signUpButton');

            if (organizer === currentUserId) {
                editButton.style.display = 'inline-block';
                signUpButton.style.display = 'none';
                if (editButton && editButton.href) {
                    editButton.href = `/events/form?eventID=${eventId}`;
                }
            } else {
                editButton.style.display = 'none';
                signUpButton.style.display = 'inline-block';
            }

            $('#eventModal').modal('show');
        }



    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('year').textContent = new Date().getFullYear();
    </script>
</body>
</html>
