

        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="text-center"><%= event ? (new Date(event.TimeInit) < new Date() ? "Ver Evento" :"Editar Evento") : "Crear Evento" %></h2>
                <button class="btn back-button btn-outline-primary" onclick="window.history.back()">
                    <i class="bi bi-chevron-left"></i>
                    <span class="d-none d-lg-inline">Regresar</span>
                </button>
            </div>
        </div>

        <div class="row  form justify-content-center ">
            <div class="col-11 col-lg-8">
                <%- include("partials/eventForm", {event}) %>
            </div>

            <div class="col-11 col-lg-4 h-100 mt-lg-0 mt-3">
                    <div class="accordion" id="accordionParticipantesConfirmados">
                        <div class="card">
                            <div class="card-header " id="headingConfirmados">
                                <h5 class="mb-0">
                                    <button class="btn card-header-title" type="button" data-toggle="collapse" data-target="#collapseConfirmados" aria-expanded="true" aria-controls="collapseConfirmados">
                                        <i class="fas fa-chevron-down"></i> Participantes Confirmados
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseConfirmados" class="collapse " aria-labelledby="headingConfirmados" data-parent="#accordionParticipantesConfirmados">
                                <div class="card-body">
                                    <ul id="confirmedEmailsList" class="list-group list-group-flush mb-4"></ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion" id="accordionParticipantesEsperas">
                        <div class="card mt-3">
                            <div class="card-header" id="headingEspera">
                                <h5 class="mb-0">
                                    <button class="btn card-header-title" type="button" data-toggle="collapse" data-target="#collapseEspera" aria-expanded="true" aria-controls="collapseEspera">
                                        <i class="fas fa-chevron-down"></i> Participantes en Espera
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseEspera" class="collapse" aria-labelledby="headingEspera" data-parent="#accordionParticipantesEsperas">
                                <div class="card-body">
                                    <ul id="waitingEmailsList" class="list-group list-group-flush "></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <% if (event) { %>
            <div class=" row  mt-3 justify-content-center">
                <form class="danger-zone p-3 col-11 col-lg-8" id="cancelEventForm" action="/api/events/<%= event.ID %>/cancel" method="POST">
                    <h5 class="w-100 text-danger text-center">Zona de Peligro</h5>
                    <button type="submit" class="btn w-100 btn-danger">Eliminar Evento</button>
                </form>
                <div class="col-lg-4 "></div>
            </div>
        <% } %>

       



<script>
    
    if (eventID) {
        const baseURL = `http://localhost:3000/api/enroll/${eventID}`;

        function renderEmails(emails, listElementId) {
            const listElement = $(`#${listElementId}`);
            listElement.empty();
            emails.forEach(email => {
                const listItem = $('<li>')
                    .addClass('list-group-item mt-1')
                    .text(email);
                listElement.append(listItem);
            });
        }

        $.ajax({
            url: `${baseURL}/confirm/emails`,
            method: 'GET',
            success: function (data) {
                const confirmedEmails = data.confirmed || [];
                renderEmails(confirmedEmails, 'confirmedEmailsList');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error("Error al obtener correos confirmados:", textStatus, errorThrown);
                $('#confirmedEmailsList').html('<li class="list-group-item text-danger">Error al cargar correos confirmados</li>');
            }
        });

        $.ajax({
            url: `${baseURL}/waiting/emails`,
            method: 'GET',
            success: function (data) {
                const waitingEmails = data.waiting || [];
                renderEmails(waitingEmails, 'waitingEmailsList');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error("Error al obtener correos en espera:", textStatus, errorThrown);
                $('#waitingEmailsList').html('<li class="list-group-item text-danger">Error al cargar correos en espera</li>');
            }
        });
    }

</script>
