<style>

        
        .back-button {
            position: relative;
            top: -45px;
        }

        .form {
            margin-top: -30px;
        }


        
</style>
        <div class="row justify-content-center">
            <div class=" col-12 col-lg-8 ">
                <h2 class=" text-center">Crear Evento</h2>
                <button class="btn back-button btn-outline-primary" onclick="window.history.back()">
                    <i class="fas fa-arrow-left"></i> 
                    <span class="d-none d-lg-inline">Regresar</span>
                </button>
                    
            </div>
        </div>
        <div class="row justify-content-center form">
            <div class=" col-12 col-lg-8 ">
                <%- include("partials/eventForm", {event:null}) %>
            </div>
        </div>
    </div>
