<%- include("partials/eventsList", { 
    title: isMyEvents ? "Tus Eventos" : "Eventos Universitarios", 
    role: role, user: user,
    eventTypeList, facultyList
 }) %>

<% if(role == 1){ %>
    <a href="/events/add" class="btn btn-primary add-event-btn">
        <span class="d-none d-lg-inline">Organizar Evento</span>
        <i class="bi bi-plus d-lg-none"></i>
    </a>
<% } %>
