

        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="text-center"><%= event ? "Editar Evento" : "Crear Evento" %></h2>
                <button class="btn back-button btn-outline-primary" onclick="window.history.back()">
                    <i class="bi bi-chevron-left"></i>
                    <span class="d-none d-lg-inline">Regresar</span>
                </button>
            </div>
        </div>

        <div class="row  form justify-content-center ">
            <div class="col-11 col-lg-8">
                <%- include("partials/eventForm", {event}) %>
            </div>

            <div class="col-11 col-lg-4 h-100 mt-lg-0 mt-3">
                    <div class="accordion" id="accordionParticipantesConfirmados">
                        <div class="card">
                            <div class="card-header " id="headingConfirmados">
                                <h5 class="mb-0">
                                    <button class="btn card-header-title" type="button" data-toggle="collapse" data-target="#collapseConfirmados" aria-expanded="true" aria-controls="collapseConfirmados">
                                        <i class="fas fa-chevron-down"></i> Participantes Confirmados
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseConfirmados" class="collapse " aria-labelledby="headingConfirmados" data-parent="#accordionParticipantesConfirmados">
                                <div class="card-body">
                                    <ul id="confirmedEmailsList" class="list-group list-group-flush mb-4"></ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion" id="accordionParticipantesEsperas">
                        <div class="card mt-3">
                            <div class="card-header" id="headingEspera">
                                <h5 class="mb-0">
                                    <button class="btn card-header-title" type="button" data-toggle="collapse" data-target="#collapseEspera" aria-expanded="true" aria-controls="collapseEspera">
                                        <i class="fas fa-chevron-down"></i> Participantes en Espera
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseEspera" class="collapse show" aria-labelledby="headingEspera" data-parent="#accordionParticipantesEsperas">
                                <div class="card-body">
                                    <ul id="waitingEmailsList" class="list-group list-group-flush "></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <% if (event) { %>
            <div class=" row  mt-3 justify-content-center">
                <form class="danger-zone p-3 col-11 col-lg-8" id="cancelEventForm" action="/api/events/<%= event.ID %>/cancel" method="POST">
                    <h5 class="w-100 text-danger text-center">Zona de Peligro</h5>
                    <button type="submit" class="btn w-100 btn-danger">Eliminar Evento</button>
                </form>
                <div class="col-lg-4 "></div>
            </div>
        <% } %>

       



<script>
    const eventID = "<%= event ? event.ID : '' %>";
    if (eventID) {
        const baseURL = `http://localhost:3000/api/enroll/${eventID}`;

        function renderEmails(emails, listElementId) {
            const listElement = document.getElementById(listElementId);
            listElement.innerHTML = '';
            emails.forEach(email => {
                const listItem = document.createElement('li');
                listItem.className = 'list-group-item mt-1';
                listItem.textContent = email;
                listElement.appendChild(listItem);
            });
        }

        fetch(`${baseURL}/confirm/emails`)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Error al obtener correos confirmados: ${response.statusText}`);
                }
                return response.json();
            })
            .then(data => {
                const confirmedEmails = data.confirmed || [];
                renderEmails(confirmedEmails, 'confirmedEmailsList');
            })
            .catch(error => {
                console.error("Error al obtener correos confirmados:", error);
                document.getElementById('confirmedEmailsList').innerHTML = '<li class="list-group-item text-danger">Error al cargar correos confirmados</li>';
            });

        fetch(`${baseURL}/waiting/emails`)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Error al obtener correos en espera: ${response.statusText}`);
                }
                return response.json();
            })
            .then(data => {
                const waitingEmails = data.waiting || [];
                renderEmails(waitingEmails, 'waitingEmailsList');
            })
            .catch(error => {
                console.error("Error al obtener correos en espera:", error);
                document.getElementById('waitingEmailsList').innerHTML = '<li class="list-group-item text-danger">Error al cargar correos en espera</li>';
            });
    }
</script>
