<%- include("partials/eventsList", { 
    title: isMyEvents ? "Tus Eventos" : "Eventos Universitarios", 
    role: role, user: user,
    eventTypeList, facultyList
 }) %>

<% if(role == 1){ %>
    <a href="/events/add" class="btn btn-primary add-event-btn">
        Organizar Evento
    </a>
<% } %>
