<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Evento</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        h2 {
            font-size: 2.5rem;
            font-weight: 700;
            color: #343a40;
            text-align: center;
            margin-bottom: 30px;
        }
        
        .back-button {
            position: relative;
            top: -70px;
        }
        
    </style>
</head>
<body>

    <%- include("partials/navbar", {role:role}) %>

    <div class="container mt-5 pt-2">
        <div class="row justify-content-center">
            <div class=" col-12 col-lg-9 ">
                <h2 class=" text-center">Crear Evento</h2>
                <button class="btn back-button btn-outline-primary" onclick="window.history.back()">
                    <i class="fas fa-arrow-left"></i> 
                </button>
                    
            </div>
        </div>
        <div class="row justify-content-center">
            <div class=" col-12 col-lg-9 ">
                <%- include("partials/eventForm", {event:null}) %>
            </div>
        </div>
        <%- include("partials/footer") %>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
