<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/css/buttons.css">
    <link rel="stylesheet" href="/public/css/containers.css">
    <link rel="stylesheet" href="/public/css/text.css">
    <link rel="icon" type="image/x-icon" href="/public/img/logo.ico">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center my-4">
            <div class="col-10 col-lg-6 p-3 px-4">
                <h2 class="text-center mb-4">Recuperar Contraseña</h2>
                <form id="recoverPasswordForm" class="list-container">
                    <div class="form-group">
                        <label for="email">Correo Electrónico</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Enviar Enlace de Recuperación</button>
                    <div class="text-center mt-3">
                        <p><a href="/auth/login">Volver a Iniciar Sesión</a></p>
                    </div>
                </form>
                <div id="responseMessage" class="mt-3"></div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#recoverPasswordForm').on('submit', function (event) {
                event.preventDefault(); 
                const email = $('#email').val(); 
                $('#responseMessage').html('');

                $.ajax({
                    url: '/api/auth/request-password-reset',
                    method: 'POST',
                    data: { email: email },
                    success: function (response) {
                        window.location.href = `/auth/reset-password/${email}`
                    },
                    error: function (xhr) {
                        const errorMessage = xhr.responseJSON?.error || 'Error al procesar la solicitud';
                        $('#responseMessage').html(`<div class="alert alert-danger">${errorMessage}</div>`);
                    }
                });
            });
        });
    </script>
</body>
</html>
