<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/css/buttons.css">
    <link rel="stylesheet" href="/public/css/containers.css">
    <link rel="stylesheet" href="/public/css/text.css">
    <link rel="icon" type="image/x-icon" href="/public/img/logo.ico">
</head>
<body>
    <div class="container-fluid vh-100 d-flex flex-column justify-content-center">
        <div class="text-center py-2">
            <h1 class="navbar-brand d-flex justify-content-center" href="/">
                <img src="/public/img/logo.png" width="50" height="50" class="d-inline-block align-top" alt="Logo">
                EventosUniv
            </h1>
        </div>

        <div class="d-flex justify-content-center mb-2">
            <div class="col-10 col-md-6 col-lg-4 p-4 list-container">
                <h2 class="text-center mb-4">Inicio de Sesión</h2>
                <form id="loginForm">
                    <div class="form-group">
                        <label for="email">Correo Electrónico</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                        <span id="emailError" class="form-text text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                        <span id="passwordError" class="form-text text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Acceder</button>
                    <div class="text-center mt-3">
                        <p><a href="/auth/forgot-password">¿Olvidaste tu contraseña?</a></p>
                        <p>¿No tienes cuenta? <a href="/auth/register">Regístrate aquí</a></p>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div aria-live="polite" aria-atomic="true"style="position: absolute; top: 10px; right: 10px;">
        <div id="toast" class="toast toast-error" >
            <div class="toast-body" id="toastMessage">
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        
        $('#loginForm').submit(function(event) {
            event.preventDefault();
            
            $('#emailError').text('');
            $('#passwordError').text('');

            let isValid = true;
            let email = $('#email').val().trim();
            let password = $('#password').val().trim();

            if (!email || !validateEmail(email)) {
                $('#emailError').text('El correo tiene que ser válido');
                isValid = false;
            }

            if (!password) {
                $('#passwordError').text('La contraseña es obligatoria');
                isValid = false;
            }

            if (isValid) {
                $.ajax({
                    url: '/api/auth/login',
                    method: 'POST',
                    data: {
                        email: email,
                        password: password
                    },
                    success: function(response) {
                        console.log("No ha habido error")
                        if (response.success) {
                            window.location.href = '/'; 
                        }
                    },
                    error: function(xhr, status, error) {
                        let errorMessage = '';

                        if (xhr.status === 400 || xhr.status === 401) {
                            errorMessage = xhr.responseJSON.error; 
                        } else {
                            errorMessage = 'Hubo un error inesperado. Intenta de nuevo.'; 
                        }

                        $('#toastMessage').text(errorMessage);
                        $('#toast').toast('show');
                    }
                });
            }
        });

        function validateEmail(email) {
            const regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
            return regex.test(email);
        }
    </script>

</body>
</html>
