:root {
    --primary-color: #461d93;
    --primary-color-light: #7235c3;
    --danger-color:#e11d48;
    --danger-color-light:#f43f5e;
    --danger-color-light-xl:#ffe4e6;
    --success-color:#059669;
    --success-color-light:#10b981;
    --warning-color:#f59e0b;
    --warning-color-light:#fbbf24;
    --warning-color-light-xl:#f7e8c0;

    --background-color: #f1f5f9; 
    --background-secondary: #f8fafc;
    --background-dark: #d9dee2;
    
    --text-color: #371774;
    --text-secondary-color: #4b3e63;
}

:root.theme-dark {
    --background-color: #121212;
    --background-secondary: #1f1f1f;
    --background-dark: #343434;

    --text-color: #fff;
    --text-secondary-color: #f1f5f9;

    --primary-color: #caa5f7;
    --primary-color-light: #9764de;
    --danger-color: #cf6679;
    --danger-color-light: #ff8a80;
    --success-color: #03dac6;
    --success-color-light: #03dac6;
    --warning-color: #ffb74d;
    --warning-color-light: #ffcc80;
    --warning-color-light-xl:#f7e8c0;
    --danger-color-light-xl:#ffe4e6;
}

:root.theme-daltonic {
    --background-color: #ffffff;
    --background-secondary: #f4f4f4;
    --text-color: #2c2c2c;
    --text-secondary-color: #6a6a6a;
    --primary-color: #007bff;
    --primary-color-light: #0056b3;
    --danger-color: #ff5722;  
    --danger-color-light: #ff8a65;
    --success-color: #8bc34a; 
    --success-color-light: #a5d6a7;
    --warning-color: #ff9800;  
    --warning-color-light: #ffcc80;
    --warning-color-light-xl:#f1ede1;
}

:root {
    --font-size-base: 0.5rem;
    --font-size-small-heading: 1rem;
    --font-size-medium-heading: 1.25rem;
    --font-size-large-heading: 1.75rem;
    --font-size-xl-heading: 2.25rem;
    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.125rem;
}

:root.theme-small {
    --font-size-base: 0.4rem;
    --font-size-small-heading: 0.8rem;
    --font-size-medium-heading: 1rem;
    --font-size-large-heading: 1.4rem;
    --font-size-xl-heading: 1.8rem;
    --font-size-small: 0.75rem;
    --font-size-medium: 0.9rem;
    --font-size-large: 1rem;
}

:root.theme-large {
    --font-size-base: 0.6rem;
    --font-size-small-heading: 1.2rem;
    --font-size-medium-heading: 1.5rem;
    --font-size-large-heading: 2rem;
    --font-size-xl-heading: 2.5rem;
    --font-size-small: 1rem;
    --font-size-medium: 1.2rem;
    --font-size-large: 1.4rem;
}




body {
    background-color: var(--background-color) !important;
}

nav {
    background-color: var(--background-color);
    font-size: var(--font-size-small-heading);
}



h1 {
    font-size: var(--font-size-xl-heading)  !important;
    font-weight: 600;
    color: var(--primary-color) !important;
    text-align: center;
}

h2 {
    font-size: var(--font-size-large-heading)  !important;
    font-weight: 700;
    color: var(--primary-color-light) !important;
    text-align: center;
}

h4 {
    font-size: var(--font-size-medium-heading)  !important;
    font-weight: 300;
    color: var(--primary-color) !important;
}

h5 {
    font-size: var(--font-size-small-heading)  !important;
    font-weight: bold;
    color: var(--primary-color) !important;
}

p {
    font-size: var(--font-size-small) !important;
}

nav i {
    color: var(--text-color) !important;
    font-size: var(--font-size-large-heading);
}

nav i:hover {
    color: var(--primary-color) !important;
}

li {
    font-size: var(--font-size-medium) !important;
}

 label {
    color: var(--text-color) !important;
    font-size: var(--font-size-large);
}

input, select, textarea {
    background-color: transparent !important;
    color: var(--text-secondary-color)  !important;
    border: 1px solid var(--background-color) !important;
    font-size: var(--font-size-medium) !important;
}

input:disabled, select:disabled, textarea:disabled {
    background-color: var(--background-dark) !important;  
    color: var(--primary-color) !important;           
    cursor: not-allowed;                
}

a {
    color: var(--primary-color-light) !important;
}
