:root {
    --primary-color: #4f46e5;
    --primary-color-light: #6366f1;
    --danger-color:#e11d48;
    --danger-color-light:#f43f5e;
    --danger-color-light-xl:#ffe4e6;
    --success-color:#059669;
    --success-color-light:#10b981;
    --warning-color:#f59e0b;
    --warning-color-light:#fbbf24;

    --background-color: #f1f5f9; 
    --background-secondary: #f8fafc;
    --background-dark: #d9dee2;
    
    --text-color: #1e293b;
    --text-secondary-color: #475569;
}

:root.theme-dark {
    --background-color: #121212;
    --background-secondary: #1f1f1f;
    --background-dark: #343434;

    --text-color: #fff;
    --text-secondary-color: #f1f5f9;

    --primary-color: #bb86fc;
    --primary-color-light: #701ce5;
    --danger-color: #cf6679;
    --danger-color-light: #ff8a80;
    --success-color: #03dac6;
    --success-color-light: #03dac6;
    --warning-color: #ffb74d;
    --warning-color-light: #ffcc80;
    --danger-color-light-xl:#ffe4e6;
}

:root.theme-daltonic {
    --background-color: #ffffff;
    --background-secondary: #f4f4f4;
    --text-color: #2c2c2c;
    --text-secondary-color: #6a6a6a;
    --primary-color: #007bff;
    --primary-color-light: #0056b3;
    --danger-color: #ff5722;  
    --danger-color-light: #ff8a65;
    --success-color: #8bc34a; 
    --success-color-light: #a5d6a7;
    --warning-color: #ff9800;  
    --warning-color-light: #ffcc80;
}

:root {
    --font-size-base: 0.5rem;
    --font-size-small-heading: 1rem;
    --font-size-medium-heading: 1.25rem;
    --font-size-large-heading: 1.75rem;
    --font-size-xl-heading: 2.25rem;
    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.125rem;
}

:root.theme-small {
    --font-size-base: 0.4rem;
    --font-size-small-heading: 0.8rem;
    --font-size-medium-heading: 1rem;
    --font-size-large-heading: 1.4rem;
    --font-size-xl-heading: 1.8rem;
    --font-size-small: 0.75rem;
    --font-size-medium: 0.9rem;
    --font-size-large: 1rem;
}

:root.theme-large {
    --font-size-base: 0.6rem;
    --font-size-small-heading: 1.2rem;
    --font-size-medium-heading: 1.5rem;
    --font-size-large-heading: 2rem;
    --font-size-xl-heading: 2.5rem;
    --font-size-small: 1rem;
    --font-size-medium: 1.2rem;
    --font-size-large: 1.4rem;
}




body {
    background-color: var(--background-color) !important;
}

nav {
    background-color: var(--background-color);
    font-size: var(--font-size-small-heading);
}

h1 {
    font-size: var(--font-size-xl-heading)  !important;
    font-weight: 600;
    color: var(--primary-color) !important;
    text-align: center;
}

h2 {
    font-size: var(--font-size-large-heading)  !important;
    font-weight: 700;
    color: var(--primary-color-light) !important;
    text-align: center;
}

p {
    font-size: var(--font-size-small) !important;
}

nav i {
    color: var(--text-color);
    font-size: 1.75rem;
}

nav i:hover {
    color: var(--primary-color);
}


 label {
    color: var(--text-color) !important;
}

input, select, textarea {
    background-color: transparent !important;
    color: var(--text-secondary-color)  !important;
    border: 1px solid var(--background-color) !important;
}


.alert-success {
    background-color: var(--success-color) !important;
    color: var(--background-color) !important;
}

.alert-danger {
    background-color: var(--danger-color) !important;
    color: var(--background-color) !important;
}

.alert-warning {
    background-color: var(--warning-color) !important;
    color: var(--background-color) !important;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color-light) !important;
}

.logo-name {
    color: var(--primary-color) !important;
}

/*
LIST
*/

.list-item-meta {
    color: var(--text-secondary-color);
    font-size: var(--font-size-small);
}

.list-item {
    background-color: var(--background-secondary);
}

.list-item:hover {
    background-color: var(--background-color);
}

.list-item-title{
    color: var(--text-color);
    font-size: var(--font-size-small-heading);
}

.list-item-important-title {
    font-weight: bold;
    font-size: var(--font-size-medium-heading);
    color: var(--primary-color);
}

.list-item-important-meta {
    color: var(--text-secondary-color);
    font-size: var(--font-size-small-heading);
}

.modal-content{
    background-color: var(--background-secondary) !important;
    color: var(--text-color);
}

.list-container {
    background-color: var(--background-secondary);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}



.card-header {
    background-color: var(--background-secondary) !important;
    border:none !important;
}

.card-header-title {
    color: var(--primary-color) !important;
}

.card {
    background-color: var(--background-secondary) !important;
    border:none !important;
    border-radius: 8px !important;
}

.card-body {
    background-color: var(--background-secondary) !important;
    color: var(--text-secondary-color);
}

.list-group-item {
    background-color: var(--background-secondary) !important;
    border-color: var(--background-color) !important;
}

.form-container {
    background-color: var(--background-secondary);
    border-radius: 8px;
}


.form-group label {
    font-weight: bold;
}

/*
BUTTONS
*/
.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color-light) !important;
    font-size: var(--font-size-small-heading);
    color: var(--background-color) !important;
}

.btn-primary:hover {
    background-color: var(--primary-color-light) !important;
    border-color: var(--primary-color-light) !important;
}

.btn-outline-primary {
    color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    background-color: transparent !important;
    font-size: var(--font-size-small-heading);
}

.btn-outline-primary:hover {
    background-color: var(--primary-color) !important;
    color: var(--background-color) !important; 
    border-color: var(--primary-color) !important;
}

.btn-outline-primary.active {
    background-color: var(--primary-color) !important; 
    color: var(--background-color) !important; 
    border-color: var(--primary-color) !important;
}

.btn-danger {
    background-color: var(--danger-color) !important;
    border-color: var(--danger-color-light) !important;
    color: var(--background-color) !important;
    font-size: var(--font-size-small-heading);
}

.badge-danger {
    background-color: var(--danger-color) !important;
    color: var(--background-color) !important;
    font-size: var(--font-size-medium) !important;
}

.btn-danger:hover {
    background-color: var(--danger-color-light) !important;
    border-color: var(--danger-color-light) !important;
}

.btn-outline-danger {
    color: var(--danger-color) !important;
    border-color: var(--danger-color) !important;
    background-color: transparent !important;
    font-size: var(--font-size-small-heading);
}

.btn-outline-danger:hover {
    background-color: var(--danger-color) !important;
    border-color: var(--danger-color-light) !important;
    color: var(--background-color) !important;
}

.btn-outline-danger.active {
    background-color: var(--danger-color) !important;
    border-color: var(--danger-color-light) !important;
    color: var(--background-color) !important;
}

.btn-success {
    background-color: var(--success-color) !important;
    border-color: var(--success-color-light) !important;
    color: var(--background-color) !important;
    font-size: var(--font-size-small-heading);
}

.btn-success:hover {
    background-color: var(--success-color-light) !important;
    border-color: var(--success-color-light) !important;
}

.badge-success {
    background-color: var(--success-color) !important;
    color: var(--background-color) !important;
    font-size: var(--font-size-medium) !important;
}

.badge-warning {
    background-color: var(--warning-color) !important;
    color: var(--background-color) !important;
    font-size: var(--font-size-medium) !important;
}

.btn-outline-warning {
    color: var(--warning-color) !important;
    border-color: var(--warning-color) !important;
    background-color: transparent !important;
    font-size: var(--font-size-small-heading);
}

.btn-outline-warning:hover {
    background-color: var(--warning-color) !important;
    color: var(--background-color) !important;
    border-color: var(--warning-color-light) !important;
}

.btn-outline-warning.active {
    background-color: var(--warning-color) !important;
    color: var(--background-color) !important;
    border-color: var(--warning-color-light) !important;
}

/*

FILTERS

*/

.filters-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: var(--background-color);
    border-radius: 8px;
    border: 1px solid var(--background-dark);
    margin-bottom: 20px;
}

.applied-filters {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--font-size-small-heading);
    color: var(--text-color);
    font-weight: 500;
}

.applied-filters span {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: var(--font-size-small-heading);
}

.applied-filters span:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
    cursor: pointer;
}


/*
OTHERS

*/

.danger-zone {
    border-radius: 5px;
    border: 1px solid var(--danger-color);
    background-color: var(--danger-color-light-xl);
}


/*
NAV BAR 
*/

.navbar-brand {
    color: var(--primary-color) !important;
    font-weight: bold;
}

.nav-item a {
    color: var(--text-secondary-color) !important;
}

.nav-item a.active {
    color: var(--text-primary-color) !important; /* Cambia a un color específico para el activo */
    font-weight: bold; /* Opcional: para resaltar el activo */
    border-bottom: 2px solid var(--text-primary-color); /* Por ejemplo, una línea debajo */
}

.dropdown-menu {
    background-color: var(--background-secondary) !important;
    border: none !important;
}

.dropdown-item {
    color: var(--text-secondary-color)  !important;
}



.danger-text {
    color: var(--danger-color) !important;
}

.back-button {
    position: relative;
    top: -40px;
}

.form {
    margin-top: -25px;
}