<style>
    .footer {
        text-align: center;
        margin-top: 40px;
        font-size: 0.9rem;
        color: #6c757d;
    }
</style>


<div class="footer">
    &copy; <span id="year"></span> EventosUniv. Todos los derechos reservados. <%- theme -%>
</div>
